body{
    background-color: rgb(162, 215, 240);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}
#heading{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20px;
    font-size: 1.2rem;
}
.container{
    width: 1000px;
    background-color: #F8F8F8;
    border-radius: 1.1%;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 17px;
    padding-left: 100px;
}
.label1, .label2, .label3{
    display: flex;
    height: 50px;
    margin-bottom: 8px;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro';
}
.input1, .input2, .input3{
    text-align: center;
   /* width: 100px;*/
}
.choice1, .choice2, .choice3{
    justify-content: flex-end;
    height: 25px;
    width: 275px;
    border: gainsboro 2px solid;
    border-radius: 1.5%;
    margin-left: 25px;
}
.label4{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-left: 35px;
}
.input4{
    width: 330px;
    text-align: right;
}
.choice4, .choice6{
    margin-left: 30px;
    width: 130px;
    height: 35px;
}
.label5{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    margin-left: 77px;
    padding-bottom: 30px;
}
.input5{
    width: 300px;
    text-align: right;
}
.choice5{
    margin-top: 40px;
    align-items: baseline;
    margin-left: 15px;
    line-height: 1.8rem;
}
.input5{
    text-align: right;
}
.label6{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    margin-top: -25px;
}
.input6{
    margin-left: 125px;
    width: 250px;
    text-align: right;
}
.label7{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-left: 90px;
}
.input7{
    text-align: right;
}
.choice7{
    margin-left: 15px;
    line-height: 1.8rem;
}
.textbox{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.cs{
    margin-left: 170px;
}
.comsec{
    margin-left: 20px;
    width: 300px;
    height: 60px;
}
.click{
    margin: 25px 0px 30px 410px;
    width: 130px;
    height: 40px;
    padding-top: 2px;
    padding-left: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: white;
    background-color: rgb(63, 158, 231);
}
@media(max-width: 1024px){
    [class="container"]{
        width: 700px;
   }
   [class="label1"]{
       margin-left: 150px;
   }
   [class="label2"]{
    margin-left: 150px;
}
[class="label3"]{
    margin-left: 150px;
}
    [class="input4"]{
        width: 250px;
    }
    [class="choice4"]{
        margin-left: 30px;
    }
    [class="input5"]{
        width: 200px;
    }
    [class="choice5"]{
        margin-left: 25px;
    }
    [class="input6"]{
        margin-left: 40px;
    }
    [class="choice6"]{
        margin-left: 25px;
    }
    [class="input7"]{
        width: 225px;
    }
    [class="label7"]{
        margin-left: 60px;
    }
    [class="choice7"]{
        margin-left: 20px;
    }
    [class="cs"]{
        margin-left: 70px;
    }
    [class="click"]{
        margin-left: 280px;
    }
}
