body{
    background-color: rgb(162, 215, 240);
}
header{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}
.container{
    width: 1000px;
    background-color:aliceblue;
    border-radius: 1.1%;
    margin: 0 auto;
    display: grid; 
}
